[submodule "duo_client"]
	path = duo_client
	url = https://github.com/duosecurity/duo_client_python.git
[submodule "iamvpnlibrary"]
	path = iamvpnlibrary
	url = https://github.com/mozilla-it/iamvpnlibrary.git
